body {
    margin: 0;
    background: url(../gfx/tiles/grass.png);
    font-family: Arial, sans-serif;
}

/* Map and Level */

#level {
    position: relative;
    border: 10px solid black;
    margin: 0 auto;
    margin-top: 30px;
}

.tile {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
}

.tile.earth {
    background: url(../gfx/tiles/sand.png) no-repeat;
}

.tile.wall {
    background: url(../gfx/tiles/wall.png) no-repeat;
    z-index: 50;
    height: 35px;

    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.tile.wall-vertical {
    background: url(../gfx/tiles/wall-vertical.png) no-repeat;
    z-index: 50;
    width: 10px;
    height: 35px;

    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.tile.wall-corner {
    background: url(../gfx/tiles/wall-corner.png) no-repeat;
    z-index: 50;
    width: 10px;
    height: 15px;

    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.tile.wall-horizontal {
    background: url(../gfx/tiles/wall-horizontal.png) no-repeat;
    z-index: 50;
    width: 30px;
    height: 15px;

    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.tile.block {
    background: url(../gfx/tiles/crate.png) no-repeat;
    z-index: 50;
    height: 35px;

    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

}

.tile.powerup {
    background: url(../gfx/powerups/power.png) no-repeat;
    z-index: 50;

    -moz-animation: glowing 1s;
    -moz-animation-iteration-count: infinite;

    -webkit-animation: glowing 1s;
    -webkit-animation-iteration-count: infinite;

}

/* Players */
.player {
    position: absolute;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;

    z-index: 100;
}

.player .avatar {
    width: 30px;
    height: 30px;

    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

/* Red Player */
.player.redplayer .avatar {
    background: url(../gfx/players/redplayer.png) no-repeat;
}

.player.redplayer.dead .avatar {
    background: url(../gfx/players/redplayer.dead.png) no-repeat;
}

/* Blue Player */
.player.blueplayer .avatar {
    background: url(../gfx/players/blueplayer.png) no-repeat;
}

.player.blueplayer.dead .avatar {
    background: url(../gfx/players/blueplayer.dead.png) no-repeat;
}

/* Monsters */
.player.mushtopus .avatar {
    background: url(../gfx/monsters/mushtopus.png) no-repeat;
}

.player.mushtopus.dead .avatar {
    background: none;
}

.player.south .avatar {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.player.north .avatar {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.player.east .avatar {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.player.west .avatar {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.player .nameBadge {
    border-radius: 20px;
    position: absolute;

    width: auto;
    white-space: nowrap;
    top: -20px;
    padding: 0 8px;

    background: #fbfafa;
    -webkit-box-shadow: 2px 2px 5px black;
    -moz-box-shadow: 2px 2px 5px black;
    box-shadow: 2px 2px 5px black;

    font-size: 10px;
    line-height: 15px;
    height: 15px;

}

.player.dead .nameBadge {
    color: red;
}

/* Bombs */

.bomb {
    width: 30px;
    height: 30px;
    background: url(../gfx/bombs/bomb.png) no-repeat;
    position: absolute;
    z-index: 50;
}

.bomb.ticking {
    -moz-animation: ticking 1s;
    -moz-animation-iteration-count: infinite;

    -webkit-animation: ticking 1s;
    -webkit-animation-iteration-count: infinite;
}

.bomb.exploded1 {
    z-index: 1;
    margin-top: 3px;
    background: url(../gfx/bombs/scorch1.png) no-repeat;

}

.bomb.exploded2 {
    z-index: 1;
    margin-top: 3px;
    background: url(../gfx/bombs/scorch1.png) no-repeat;

    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.bomb.exploded3 {
    z-index: 1;
    margin-top: 3px;
    background: url(../gfx/bombs/scorch1.png) no-repeat;

    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

@-moz-keyframes ticking
{
0%   {-moz-transform: scale(1.0)}
50%  {-moz-transform: scale(0.85);}
100%  {-moz-transform: scale(1.0);}
}

@-webkit-keyframes ticking
{
0%   {-webkit-transform: scale(1.0)}
50%  {-webkit-transform: scale(0.85);}
100%  {-webkit-transform: scale(1.0);}
}

/* Explosions */
.fireBall {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 200;

    background: url(../gfx/expode.gif);

    -moz-animation: flame 1s;
    -webkit-animation: flame 1s;
}

@-moz-keyframes flame
{
0%   {
opacity: 1.0
}
70%  {
opacity: 1.0
}
100%  {
opacity: 0.0
}
}

@-webkit-keyframes flame
{
0%   {
opacity: 1.0
}
70%  {
opacity: 1.0
}
100%  {
opacity: 0.0
}
}

/* Power Ups */

@-moz-keyframes glowing
{
0%   {-moz-box-shadow: 0 0 5px white}
50%  {-moz-box-shadow: 0 0 0 white}
100%  {-moz-box-shadow: 0 0 5px white}
}

@-webkit-keyframes glowing
{
0%   {-webkit-box-shadow: 0 0 5px white}
50%  {-webkit-box-shadow: 0 0 0 white}
100%  {-webkit-box-shadow: 0 0 5px white}
}

