body {
    margin: 0;
    background: gray;
    font-family: Arial, sans-serif;
}

/* Map and Level */

#level {
    position: relative;
    border: 10px solid black;
    margin: 0 auto;
    margin-top: 30px;
}

.tile {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
}

.tile.earth {
    background: url(../gfx/tiles/sand.png) no-repeat;
}

.tile.wall {
    background: black;
}

.tile.block {
    background: url(../gfx/tiles/crate.png) no-repeat;
}

/* Players */
.player {
    position: absolute;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;

    z-index: 100;
}

.player .avatar {
    background: url(../gfx/players/player1.png) no-repeat;
    width: 30px;
    height: 30px;

    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.player.dead .avatar {
    background: url(../gfx/players/player1.dead.png) no-repeat;
}

.player.south .avatar {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.player.north .avatar {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.player.east .avatar {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.player.west .avatar {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.player .nameBadge {
    border-radius: 20px;
    position: absolute;

    width: auto;
    white-space: nowrap;
    top: -20px;
    padding: 0 8px;

    background: #fbfafa;
    -webkit-box-shadow: 2px 2px 5px black;
    -moz-box-shadow: 2px 2px 5px black;
    box-shadow: 2px 2px 5px black;

    font-size: 10px;
    line-height: 15px;
    height: 15px;

}

.player.dead .nameBadge {
    color: red;
}

/* Bombs */

.bomb {
    width: 30px;
    height: 30px;
    background: black;
    position: absolute;
    -moz-border-radius: 30px;

}

.bomb.ticking {
    -moz-animation: ticking 1s;
    -moz-animation-iteration-count: infinite;
}

.bomb.exploded1 {
    background: url(../gfx/bombs/scorch1.png) no-repeat;
}

.bomb.exploded2 {
    background: url(../gfx/bombs/scorch2.png) no-repeat;
}

.bomb.exploded3 {
    background: url(../gfx/bombs/scorch3.png) no-repeat;
}

@-moz-keyframes ticking
{
0%   {-moz-transform: scale(1.0)}
50%  {-moz-transform: scale(0.85);}
100%  {-moz-transform: scale(1.0);}
}

