body {
    margin: 0;
    background: gray;
}

/* Map and Level */

#level {
    position: relative;
    border: 10px solid black;
    margin: 0 auto;
}

.tile {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
}

.tile.earth {
    background: url(../gfx/tiles/sand.png) no-repeat;
}

.tile.wall {
    background: black;
}

.tile.block {
    background: url(../gfx/tiles/crate.png) no-repeat;
}

/* Players */
.player {
    position: absolute;
    width: 30px;
    height: 30px;
    background: url(../gfx/players/player1.png) no-repeat;
    border-radius: 20px;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.player.south {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.player.north {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.player.east {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.player.west {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}