body {
    margin: 0;
    background: gray;
}

/* Map and Level */

#level {
    position: relative;
    border: 10px solid black;
    margin: 0 auto;
}

.tile {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
}

.tile.earth {
    background: #90ee90;
}

.tile.wall {
    background: black;
}

/* Players */
.player {
    position: absolute;
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 20px;
}