body {
    margin: 0;
    background: gray;
}

#map {
    position: relative;
    border: 10px solid black;
    margin: 0 auto;
}

.tile {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
}

.tile.earth {
    background: #90ee90;
}

.tile.wall {
    background: black;
}