.hidden {
    display: none;
}

.menuContainer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 500;
}

.menuContainer.fullScreen {
    background: gray;
}

.menuContainer .dialog {
    text-align: center;
    width: 300px;
    margin: 10% auto;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.menuContainer h2 {
    padding-top: 10px;
    line-height: 50px;
    margin: 0;
}

.menuContainer ul.menu {
    margin: 0;
    padding: 10px;
    padding-top: 0;
}

.menuContainer ul.menu li {
    display: block;
    background: #6495ed;
    color: white;
    line-height: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.menuContainer ul.menu li.selected,
.menuContainer ul.menu li:hover {
    background: #6899ff;
    -moz-animation: pulsing 2s;
    -moz-animation-iteration-count: infinite;
}

@-moz-keyframes pulsing
{
0%   {background-color: #6899ff;}
50%  {background-color: #191970}
100%  {background-color: #6899ff;}
}

